<div>
  <h1>Timespan Picker</h1>
  <form [formGroup]="form">
    <div class="row">
      <div class="col">
        <label for="timespan" class="form-label">Timespan</label>
        <input #minutes type="number" id="timespan" formControlName="minutes">
        <app-timespan-picker [host]="minutes" [max]="48*60"></app-timespan-picker>
      </div>
    </div>
    <div class="row">
      <div class="col">
        FORM: {{ form.value | json }}
        VALID: {{ form.valid | json }}
      </div>
    </div>
  </form>
</div>
